<%- include("header") -%>
  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
  <div class="box">

    <%  for(var i = 0; i<newListItems.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newListItems[i] %></p>
    </div>

    <%  }  %>

    <form action="/" class="item" method="post">
      <input type="text" name="newTodo" placeholder="New item" autocomplete="off" autofocus>
      <button type="submit" name="button" value= <%= listTitle %>>+</button>
    </form>
  </div>
<%- include("footer") -%>
